html{
    font-family: 'Amaranth', sans-serif ; 
}
.footer{
font-family: 'Sofia', cursive ;/*from Google Api fonts*/
}
:root {
    --primary-color: #DAD299;
    --secondary-color: #B0DAB9;
  }
  * {
    /* Below is the standard CSS code one should add to get rid of default margins and padding which most of tge HTML elements have */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  body {
    position: relative;   
    min-height: 100vh;
    text-align: center;
    display: flex;    /*imp*/
    justify-content: space-between;
    flex-direction: column;/*imp*/
    align-items: stretch;
  }
/* Title CSS --the heading sorting visualizer*/
.title {
    background: linear-gradient(to left, #3d7eaa, #ffe47a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Amatic SC', cursive;;
    text-align: center;
    font-size: 2.8em;
    padding-block: 0em;
    color: #fff;
    cursor: pointer;
  }
  /* Navbar CSS 
  .nav-container{
    width:50%;
    margin-left: 16.8rem;
  }
  */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
    font-size: 16px;
    min-height: 70px;
    padding-block: 0.6em;
    background: linear-gradient(to left, #4982a9, #fae58d);
   /** background: linear-gradient(to right, #dae2f8, #d6a4a4); */
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .navbar a {
    all: unset;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 6px;
    transition: 0.3s;
    background-color: #6771a5;
  }
  /*inverting colors for hover effect*/
  .navbar a:hover {
    color: #6771a5;
    background-color: white;
  }
  .navbar #menu {
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 6px 8px;
    color: #7179a4;
    background-color: rgba(255, 255, 255, 0.783);
  }
  .navbar > .icon {
    display: none;
  }
  /*when user wants to select an item from the menus, the cursor changes to pointer type*/
  #menu,
  #random,
  #start {
    cursor: pointer;
  }
  /*
.border-wrap{
  background: linear-gradient(to left, #4982a9, #fae58d);
  height: 426px;
  width: 416px;
  padding: 10px;
  margin-left:300px;
}*/

  /* Center css */
.center {
    margin: 0 auto;
    /* Added shadow to make page border free */
    background-color: white;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
    height: 420px;
    width: 410px;
    /*trying to put box around the shadow effect*/
   /*padding: 1px;*/
    max-height: 731px;
   
    
  }
 
  /*the generated array*/
  .array {
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    height: 100%;
    padding: 1rem;
    flex-direction: row;
  }
  .cell {
    display: flex;
    align-items: flex-start;
    flex: 0.5;
    width: 0.000001%;
    margin: 1px;
    background-color: #d6d6d6;
    resize: horizontal;
    position: relative;
    transition: all 0.4s ease-in;
  }
  /*the ones that have reached their sorted position*/
  .cell.done {
    background-color: #9cec5b;
    border-color: #9cec5b;
    color: white;
    transition: all 0.4s ease-out;
  }
  .cell.visited {
    border-color: #6184d8;
    background-color: #6184d8;
    color: white;
    transition: 0.5s;
  }
  .cell.current {
    border-color: #50c5b7;
    background-color: #50c5b7;
    color: white;
    transition: all 0.4s ease-out;
  }
  .cell.min {
    background-color: #ff1493;
    border-color: #ff1493;
    color: white;
    transition: all 0.4s ease-out;
  }
  footer {
    text-align: center;
    font-size: 20px;
    color: #263a4f;
    padding: 1.6em;
  }
  .footer > p:nth-child(1) {
    margin-bottom: 0.6em;
  }
  .link {
    text-decoration: none;
    font-weight: bold;
    color: #decc49;
    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    .navbar {
      gap: 0.4em;
    }
    .title {
      font-size: 17px;
    }
    .navbar *,
    .navbar a {
      font-size: 14px;
    }
    .footer {
      font-size: 18px;
    }
    a#random {
      order: 4;
    }
    a.start {
      order: 5;
    }
  }
  @media screen and (max-width: 550px) {
    .center {
      width: 95%;
    }
  }
  